<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>">
		<%= value %>
	</div>
<% end %>


<%= simple_form_for @tweet, url: tweets_path, method: 'post' do |f| %>

	<%= f.input "content" %>
	<%= f.button "submit", "Create Tweet" %>

<% end %>

<b>Here are all the tweets ever made:</b><br /><br />

<% @tweets.each do |tweet| %>
	<%= tweet.content %><br />

<% end %>